:root{
    --size-wave: 0px; /* se modifica con el valor que recibe de cada respuesta del cuestionario */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wavify{
    position: relative;
    min-height: 100vh;
}

.first-wave{
    position: absolute;
    bottom: var(--size-wave); /* valor que determina cuánto sube la ola */
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.second-wave{
    position: absolute;
    bottom: var(--size-wave); /* valor que determina cuánto sube la ola */
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}

.wave-fill{
    position: absolute;
    width: 100%;
    height: calc(var(--size-wave) + 10px); /* variará en función del valor 'bottom' de las clases 'first-wave' y 'second-wave' */
    bottom: 0;
    background-color: #5BBFDE;
    transition: 1s;
    transition-timing-function: ease-in-out;
}


/*** NAVBAR ***/

nav .navLink {
    margin-left: 10px;
}

#quiz {
    position: relative;
    width: 485px;
    height: 323px;
    margin:0 auto;
    background-color: rgb(192, 192, 244);
}

/** Boton Base **/

.boton{


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 20px;


width: 285px;
height: 90px;
left: 1.5px;
top: 100px;

background: #2F8DD8;
color: white;
border-radius: 20px;
border: none;
}

.white{
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
     grid-gap: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
}

.ml-3{
    margin-right: 30px;
}